// |       ～ SCREEN_S(px) ～ SCREEN_M(px) ～ SCREEN_L(px) ～          |
// -------------------------------------------------------------------- 
// |(      sm      )(       md     )(       lg     )(       xl        )|
// --------------------------------------------------------------------
// |(             sm-md            )(       lg     )(       xl        )|
// --------------------------------------------------------------------
// |(             sm-md            )(            lg-xl                )|
// --------------------------------------------------------------------
// |(                     sm-lg                    )(       xl        )|
// --------------------------------------------------------------------
// |(      sm      )(       md     )(             lg-xl               )|
// --------------------------------------------------------------------
// |(      sm      )(            mm-lg             )(       xl        )|
// --------------------------------------------------------------------
// |(      sm      )(                       md-xl                     )|
// --------------------------------------------------------------------

// -------------------------------
// Web Iconのために使用
// -------------------------------
// https://fontawesome.com/icons?d=gallery
// 使用するiconは上記のURLから調べることができる。
// SIL Open Font Licenseライセンス(コピーレフトなオープンコンテントライセンス)
// 無償版のため有料iconは使用することができない。
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@import "_heading.scss";

body {
  margin : 0;
}

// スマホ用 450px未満 (iPhone6/7/8 375px ,iPhone6/7/8Plus 414px )
$SCREEN_SM : 450px; // phone
$SCREEN_MD : 1000px; // tablet
$SCREEN_LG : 1400px; // pc

@mixin screen-sm {
  @media screen and (min-width : 0px) and (max-width : $SCREEN_SM) {
    @content;
  }
}

@mixin screen-sm-md {
  @media screen and (min-width : 0px) and (max-width : $SCREEN_MD) {
    @content;
  }
}

@mixin screen-sm-l {
  @media screen and (min-width : 0px) and (max-width : $SCREEN_LG) {
    @content;
  }
}

@mixin screen-md {
  @media screen and (min-width : $SCREEN_SM) and (max-width : $SCREEN_MD) {
    @content;
  }
}

@mixin screen-md-lg {
  @media screen and (min-width : $SCREEN_SM) and (max-width : $SCREEN_LG) {
    @content;
  }
}

@mixin screen-md-xl {
  @media screen and (min-width : $SCREEN_SM) {
    @content;
  }
}

@mixin screen-lg {
  @media screen and (min-width : $SCREEN_MD) and (max-width : $SCREEN_LG) {
    @content;
  }
}

@mixin screen-lg-xl {
  @media screen and (min-width : $SCREEN_MD) {
    @content;
  }
}

@mixin screen-xl {
  @media screen and (min-width : $SCREEN_LG) {
    @content;
  }
}


html {
  font-size: 16px;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1.05em;
}



button {

  // フラットボタン
  &.flat {
    $PRIMARY_COLOR: green;
    $SECONDARY_COLOR: white;
    padding: 10px 10px;

    background-color: $PRIMARY_COLOR;
    color: $SECONDARY_COLOR;
    border: 2px solid $PRIMARY_COLOR;
    transition: .3s;
    cursor: pointer;

    &:hover {
      background-color: $SECONDARY_COLOR;
      color: $PRIMARY_COLOR;
    }

    &:active {
      transition: .1s;
      transform: rotateY(20deg)
    }
  }

  // フラットボタン + 丸み
  &.flat-radius {
    @extend .flat;
    border-radius: 5px;
  }

  // アウトラインボタン
  &.outline {
    $PRIMARY_COLOR: navy;
    $SECONDARY_COLOR: white;
    padding: 10px 10px;

    border: 2px solid $PRIMARY_COLOR;
    background-color: $SECONDARY_COLOR;
    color: $PRIMARY_COLOR;
    transition: .3s;
    cursor: pointer;

    &:hover {
      border: 2px solid $SECONDARY_COLOR;
      background-color: $PRIMARY_COLOR;
      color: $SECONDARY_COLOR;
    }

    &:active {
      transition: .1s;
      transform: scale(0.95);
    }
  }

  // アウトラインボタン + 丸み
  &.outline-radius {
    @extend .outline;
    border-radius: 5px;
  }
}

.fover-bottom {
  $LINE_COLOR: #222;
  display: inline-block;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 0;
    transition: width 0.3s;
    border-bottom: 1px solid $LINE_COLOR;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }

  &:active {
    transition: .1s;
    transform: scale(0.9);
  }
}

.grid-wrapper1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // カラム(横)間の隙間
  column-gap: 5px;
  // 行(縦)間の隙間
  row-gap: 5px;

  >div {
    border: 1px solid gray;
  }
}

.grid-wrapper2 {
  display: grid;
  grid-template-columns: 500px repeat(2, 1fr);

  @include screen-md-lg() {
    grid-template-columns: repeat(2, 1fr);
  }

  // カラム(横)間の隙間
  column-gap: 5px;
  // 行(縦)間の隙間
  row-gap: 5px;

  >div {
    border: 1px solid gray;
  }
}

.i-red {
  color: red;
  font-size: 10px;
}



@include screen-sm() {
  .dummy {
    width: 100%;
    background-color: blue;
  }
}


@include screen-md() {
  .dummy {
    width: calc(100vw - 2px);
    background-color: red;
  }
}



@include screen-lg() {
  .dummy {
    width: calc(100vw - 2px);
    background-color: blue;
  }
}


@include screen-xl() {
  .dummy {
    width: calc(100vw - 2px);
    background-color: red;
  }
}