

// -------------------------------
// Web Iconのために使用
// -------------------------------
// https://fontawesome.com/icons?d=gallery
// 使用するiconは上記のURLから調べることができる。
// SIL Open Font Licenseライセンス(コピーレフトなオープンコンテントライセンス)
// 無償版のため有料iconは使用することができない。
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);


// key : font-color , background-colorの定義
$theme-colors : (
  primary   : (font : #0D47A1 , back : #fff),
  secondary : (font : #1976D2 , back : #fff),
  tertiary  : (font : #2196F3 , back : #fff),
  success   : (font : #E65100 , back : #fff),
  warn      : (font : #B71C1C , back : #fff)
);
@import "_media-screen.scss";
@import "_text-color.scss";
@import "_heading.scss";
@import "_button.scss";

body {
  margin : 0;
}


html {
  font-size: 16px;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1.05em;
}




.fover-bottom {
  $LINE_COLOR: #222;
  display: inline-block;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 0;
    transition: width 0.3s;
    border-bottom: 1px solid $LINE_COLOR;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }

  &:active {
    transition: .1s;
    transform: scale(0.9);
  }
}

.grid-wrapper1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // カラム(横)間の隙間
  column-gap: 5px;
  // 行(縦)間の隙間
  row-gap: 5px;

  >div {
    border: 1px solid gray;
  }
}

.grid-wrapper2 {
  display: grid;
  grid-template-columns: 500px repeat(2, 1fr);

  @include screen-md-lg() {
    grid-template-columns: repeat(2, 1fr);
  }

  // カラム(横)間の隙間
  column-gap: 5px;
  // 行(縦)間の隙間
  row-gap: 5px;

  >div {
    border: 1px solid gray;
  }
}

.i-red {
  color: red;
  font-size: 10px;
}



@include screen-sm() {
  .dummy {
    width: 100%;
    background-color: blue;
  }
}


@include screen-md() {
  .dummy {
    width: calc(100vw - 2px);
    background-color: red;
  }
}



@include screen-lg() {
  .dummy {
    width: calc(100vw - 2px);
    background-color: blue;
  }
}


@include screen-xl() {
  .dummy {
    width: calc(100vw - 2px);
    background-color: red;
  }
}